<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="HelloDataSource" version="3.0">
	<display-name>"UserList"</display-name>

 	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<init-param> 
			<param-name>webAllowOthers</param-name> 
			<param-value>true</param-value> 
		</init-param> 
		<init-param> 
			<param-name>trace</param-name> 
			<param-value></param-value> 
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>Login</display-name>
 		<servlet-name>Login</servlet-name>
 		<servlet-class>praesentation.Login</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>Registrierung</display-name>
 		<servlet-name>Registrierung</servlet-name>
 		<servlet-class>praesentation.Registrierung</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>Aerzte</display-name>
 		<servlet-name>Aerzte</servlet-name>
 		<servlet-class>praesentation.Aerzte</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>UpdatePatienten</display-name>
 		<servlet-name>UpdatePatienten</servlet-name>
 		<servlet-class>praesentation.UpdatePatienten</servlet-class>
 	</servlet>
 	<servlet>
 		<description>
 		</description>
 		<display-name>newPatient</display-name>
 		<servlet-name>newPatient</servlet-name>
 		<servlet-class>praesentation.newPatient</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registrierung</servlet-name>
		<url-pattern>/Registrierung</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Aerzte</servlet-name>
		<url-pattern>/Aerzte</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePatienten</servlet-name>
		<url-pattern>/UpdatePatienten</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newPatient</servlet-name>
		<url-pattern>/newPatient</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:./build/WebEng04DB</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param>
	<listener>
	    <listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>
</web-app>